<?xml version="1.0"?>
<model>
  <name>MesaCompleta</name>
  <version>1.0</version>
  <sdf version="1.6">MesaCompleta.sdf</sdf>
  <author>
    <name>Sebastian Lopez Jaramillo</name>
    <email>sebastian56811@gmail.com</email>
    <name>Gatica Lavin Luis Pedro</name>
    <email>luisgaticalavin02@gmail.com</email>
  </author>
  <description>
    Modelo combinado de una mesa con una base que tiene cilindros encima. Usado para simulación en Gazebo.
  </description>
</model>
