<?xml version="1.0" ?>
<model>
  <name>mesa</name>
  <version>1.0</version>
  <sdf version="1.6">mesa.sdf</sdf>
  
  <author>
    <name>Luis Pedro Gatica</name>
    <email>luisgaticalavin02@gmail.com</email>
  </author>
  
  <description>
    Modelo de una mesa con marco de 1.40 m de altura en Gazebo.
  </description>
</model>
